
*{
  margin: 0px;
}
/*formularz logowania-gotowe */
.index{
  background-color: #5132DC;
  color: #BEDE4A;
  text-align: center;
  font-size: xx-large;
}
.index-admin{
  width: 200px;
  height: 200px;
  margin: 20px;
  float: left;
}
.index-user{
  width: 200px;
  height: 200px;
  margin: 20px;
}
.index-admin .index-user:hover{
  border: 10px;
  border: #BEDE4A;
  border-style: groove;

}
.button{
    background-color: #FBFDF3;
    color: #120A38;
}
.button:hover{
    background-color: #120A38;
    color: #FBFDF3;
}

/*main*/
.main{
  background-color: #f4f9e2;
  background-image: url(tlo.png);
  background-size: 10%;
  background-position: left top;
  background-repeat: repeat;
}
.ciasta{
  background-color: #f4f9e2;
  background-image: url(ciasta.png);
  background-size: 20%;
  background-position: left top;
  background-repeat: repeat;
}
.obiady{
  background-color: #f4f9e2;
  background-image: url(obiady.png);
  background-size: 30%;
  background-position: left top;
  background-repeat: repeat; 
}
.przekaski{
  background-color: #f4f9e2;
  background-image: url(przekaski.png);
  background-size: 20%;
  background-position: left top;
  background-repeat: repeat;
}
.glowna{
  width: 100%;
  height: 650px;
}
.nav-gorny{
  background-color: #5132DC;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 5px solid red;
}
.ul{
  list-style-type: none;
  display: inline-block;
}
.nav-li-gora{
  display: inline-block;
  border: solid 5px;
  border-color: #ffffa8;
  font-size: xx-large;
  padding: 10px;
  margin-left: 7px;
  width: 330px;
  transition: ease-in;
  transition: font-size 300ms;
}
.nav-li-gora:hover > #lista_hover{
  color: #120A38;
  background-color: #FBFDF3;
  font-size: 40px;
  transition: ease-in;
  transition: font-size 300ms;
}
.nav-li-gora:hover{
  background-color: #FBFDF3;
}
.li-menu{
  list-style-type: none;
  display: inline-block;
  border: solid 5px;
  border-color: #ffffa8;
  font-size: xx-large;
  margin-right: 40px;
  padding: 10px;
  width: 180px;
  transition: ease-in;
  transition: font-size 300ms;
}
.li-menu:hover > #lista_hover{
  color: #120A38;
  background-color: #FBFDF3;
  font-size: 40px;
  transition: ease-in;
  transition: font-size 300ms;
}
.li-menu:hover {
  background-color: #FBFDF3;
}
.nav-lewy{
  background-color: #5132DC;
  width: 300px;
  height: 537px;
  float: left;
  border: 5px solid red;
}
.ul-lewy{
  border-collapse: collapse;
}
.nav-li-lewy{
  list-style-type: none;
  border: solid 5px;
  border-color: #ffffa8;
  font-size: xx-large;
  padding: 10px;
  width: 180px;
  margin-bottom: 15px;
  transition: ease-in;
  transition: font-size 300ms;
}
.nav-li-lewy:hover > #lista_hover{
  color: #120A38;
  background-color: #FBFDF3;
  font-size: 40px;
  transition: ease-in;
  transition: font-size 300ms;
}
.nav-li-lewy:hover{
  background-color: #FBFDF3;
}
.a-main{
  text-decoration: none;
  color: #ffffa8;
} 
/*slideshow*/

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  max-height: 450px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  justify-items: center;
}

.nonBinary{
  height: 450px;
  justify-items: center;
  border: 1px solid rgba(155,0,173,0.15);
  border-radius: 7% 7% 7% 7% / 14% 14% 14% 14%;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
  
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
  background-color: #717171;
}
  
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.1s;
}
  
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Podstrona ciasta */
/* Podstrona obiady */
/* Podstrona przekąski */

.header-ciasta{
  color: #ffffff;
  font-size: xx-large;
  padding-top: 20px;
}
.a-sub{
  text-decoration: none;
  color: #ffffff;
  font-size: x-large;
  list-style-type: circle;
}
.ciasta-zdj{
  width: 120px;
  border: 1px;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}
.blur-list{
  background: rgba(35, 35, 35, 0.652);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  width: 800px;
  height: 450px;
  font-size: xx-large;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 7% 7% 7% 7% / 14% 14% 14% 14%;
  animation-name: fade;
  animation-duration: 1.1s;
}

/*Footer*/
.hide {
  display: none;
}
.footer{
  background-color: #5132DC;
  height: 55px;
  border: 5px solid red;
  align-content: center;
}
.footer:hover + .hide{
  font-family: mixta pro blod;
  display: block;
  color: #5132DC;
  font-size: x-large;
  text-align: center;
}
input[type=text] {
  border-radius: 5px;
  font-size: large;
  border: none;
  width: 280px;
  height: 25px;
}

